* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  border: 1px solid black;
  outline: 1px solid black;
  width: 50vw;
  height: 5vh;
  border-radius: 2px;
  margin-bottom: 10px;
  margin-top: 3px;
}

fieldset {
  border: none;
}

.btn {
  background-color: rgb(46, 149, 228);
  color: white;
  font-weight: bold;
  border-radius: 2px;
  padding: 8px;
  border: none;
  cursor: pointer;
}
